@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../public/phone.jpg');
  
    background-size: cover; /* or 'contain' */
  background-position: center;
  height: 80vh;
 
    
}
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  border-radius: 70px ;
}

::-webkit-scrollbar-track {
  background: black; /* color of the scrollbar track */
  
  border-radius: 70px ;
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar thumb */
  border-radius: 70px; /* border radius of the thumb */
 
}

::-webkit-scrollbar-thumb:hover {
  /*background: #555;  color of the thumb on hover */
  background : orange;
  border-radius: 70px ;
}

